{% extends 'base.html.twig' %}

{% block title %}
	{{"services"|trans}}
{% endblock %}
{% block body %}
	<div class="row py-2 d-flex bg-orange">
		<div class="fs-1 text-center ">
			<h4>{{"Vous pouvez faire votre demande de devis"|trans}}
				<a href={{path("create_devis")}}>{{"ici"|trans}}</a>
			</h4>
		</div>
	</div>
	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<button class="nav-link fs-3 my-3 p-5 active" id="v-pills-nettoyage-tab" data-bs-toggle="pill" data-bs-target="#v-pills-nettoyage" type="button" role="tab" aria-controls="v-pills-nettoyage" aria-selected="true">{{"Nettoyage"|trans}}</button>
			<button class="nav-link fs-3 my-3 p-5" id="v-pills-elec-tab" data-bs-toggle="pill" data-bs-target="#v-pills-elec" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">{{"Electricité"|trans}}</button>
			<button class="nav-link fs-3 my-3 p-5" id="v-pills-plomberie-tab" data-bs-toggle="pill" data-bs-target="#v-pills-plomberie" type="button" role="tab" aria-controls="v-pills-plomberie" aria-selected="false">{{"Plomberie"|trans}}</button>
			<button class="nav-link fs-3 my-3 p-5" id="v-pills-peinture-tab" data-bs-toggle="pill" data-bs-target="#v-pills-peinture" type="button" role="tab" aria-controls="v-pills-peinture" aria-selected="false">{{"Peinture"|trans}}</button>
			<button class="nav-link fs-3 my-3 p-5" id="v-pills-bricolage-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bricolage" type="button" role="tab" aria-controls="v-pills-bricolage" aria-selected="false">{{"Bricolage"|trans}}</button>
			<button class="nav-link fs-3 my-3 p-5" id="v-pills-chauffeur-tab" data-bs-toggle="pill" data-bs-target="#v-pills-chauffeur" type="button" role="tab" aria-controls="v-pills-chauffeur" aria-selected="false">{{"Chauffeur"|trans}}</button>
		</div>
		<div class="tab-content w-100" id="v-pills-tabContent bs-info">
			<div class="tab-pane fade show active" id="v-pills-nettoyage" role="tabpanel" aria-labelledby="v-pills-nettoyage-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for net in nettoyage %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in net.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:net.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{net.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{net.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{net.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-elec" role="tabpanel" aria-labelledby="v-pills-elec-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for elec in electricite %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in elec.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:elec.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{elec.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{elec.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{elec.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-plomberie" role="tabpanel" aria-labelledby="v-pills-plomberie-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for plomb in plomberie %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in plomb.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:plomb.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{plomb.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{plomb.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{plomb.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-peinture" role="tabpanel" aria-labelledby="v-pills-peinture-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for peint in peinture %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in peint.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:peint.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{peint.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{peint.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{peint.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-bricolage" role="tabpanel" aria-labelledby="v-pills-bricolage-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for bri in bricolage %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in bri.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:bri.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{bri.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{bri.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{bri.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-chauffeur" role="tabpanel" aria-labelledby="v-pills-chauffeur-tab">
				<div class="row d-flex justify-content-around flex-row">
					{% for chauf in chauffeur %}
						<div class="col-md-3 my-3 mx-1 py-1">
							<div class="card">
							<div class="card-header">
									<div class="col d-flex justify-content-center">
										<div class="splide" role="group" aria-label="Splide Basic HTML Example">
											<div class="splide__track">
												<ul class="splide__list">
													{% for img in chauf.images %}
														<li class="splide__slide"><img src="{{asset("images/services/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									</div>
									<a href="{{path('spec_service', {id:chauf.id })}}" class="text-decoration-none">
								<div class="card-body">
									<h5 class="card-title">{{chauf.titre}}</h5>
									<h6 class="card-subtitle mb-2 text-body-secondary">{{chauf.description|slice(0,50)~"..."}}</h6>
									<small class="float-end text-muted">{{chauf.tarifs}}
										€</small>
								</div>
							</a>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script>
monune();

function monune() {
	var elms = document.getElementsByClassName( 'splide' );

	for ( var i = 0; i < elms.length; i++ ) {
		new Splide( elms[ i ], {
			type       : 'loop',
			perPage    : 1,
			perMove    : 1,
			pagination : false,
			autoplay   : false,
			breakpoints: {
				600: {
					perPage: 1,
				}
			}
		
		}).mount();
	}
}
</script>
{% endblock %}
