{% extends 'base.html.twig' %}
{% block title %}
	{{ service.titre }}
{% endblock %}
{% block body %}
	<div class="container my-5">
		<div class="row">
			<div class="col-md-12">
				<div class="card mb-4">
					<div class="splide" role="group" aria-label="Splide Basic HTML Example">
						<div class="splide__track">
							<ul class="splide__list">
								{% for img in service.images %}
									<li class="splide__slide">
										<img src="{{ asset('images/services/' ~ img) }}" class="card-img-top" alt="Image of {{ service.titre }}">
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card mb-4">
				<div class="card-body">
					<h1 class="card-title">{{ service.titre }}</h1>
					<p class="card-text">{{ service.description }}</p>
					<h4 class="card-subtitle text-muted">{{ service.tarifs }}
						€</h4>
				</div>
			</div>
		</div>

		{% if service.additionalInfo is not empty %}
			<div class="col-md-12">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">{{"Informations supplémentaires"|trans}}</h2>
						<p class="card-text">{{ service.additionalInfo }}</p>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="col-md-12 text-center">
			<a href="{{ path('services') }}" class="btn btn-primary">{{ 'Retour à la liste des services'|trans }}</a>
		</div>
	</div>
</div>{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new Splide('.splide', {
                type: 'loop',
                perPage: 1,
                autoplay: true,
            }).mount();
        });
    </script>
{% endblock %}