{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="row py-2 d-flex bg-orange">
        <div class="fs-1 text-center ">
			<h4>{{"Bienvenue sur la page de demande de Devis"|trans}}</h4>
        </div>
	</div>
    <div class="d-flex align-items-start">
        <div class="col-2">
        </div>
        <div class="col-8 bg-info">
            <section class="content">
                <div class="card bg-info">
				<div class="card-body">
						{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

                        {{ form_row(form.nom)}}
						{{ form_row(form.prenom)}}
                        {{ form_row(form.numero)}}
                        {{form_row(form.email)}}
                        {{form_row(form.prestation)}}
                        {{form_row(form.contact)}}
                        {{form_row(form.description)}}

						<button type="submit" class="btn btn-primary">{{"Envoyer votre demande de devis"|trans}}</button>
						{{ form_end(form) }}
					</div>
				</div>

            </section>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}