{% extends 'base.html.twig' %}


{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block stylesheets %}
	<style>
		.past {
			-webkit-filter: blur(8px);
			-moz-filter: blur(8px);
			-o-filter: blur(8px);
			-ms-filter: blur(8px);
			filter: blur(8px);
		}
		.past:hover {
			-webkit-filter: blur(0px);
			-moz-filter: blur(0px);
			-o-filter: blur(0px);
			-ms-filter: blur(0px);
			filter: blur(0px);
		}
	</style>
{% endblock %}

{% block body %}
	<div class='row'>
		<div class="col-2 border border-success">
			<div class="d-flex align-items-start">
				<div class="nav flex-column nav-pills me-3 w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<button class="nav-link my-2 p-4 active" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="true">{{"info"|trans}}</button>
					<button class="nav-link my-2 p-4" id="v-pills-docs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-docs" type="button" role="tab" aria-controls="v-pills-docs" aria-selected="false">{{"docs"|trans}}</button>
					{% if is_granted("ROLE_BAILLEUR") %}
						<button class="nav-link my-2 p-4" id="v-pills-baill-tab" data-bs-toggle="pill" data-bs-target="#v-pills-baill" type="button" role="tab" aria-controls="v-pills-baill" aria-selected="false">{{"baill"|trans}}</button>
						<button class="nav-link my-2 p-4" id="v-pills-apps-tab" data-bs-toggle="pill" data-bs-target="#v-pills-apps" type="button" role="tab" aria-controls="v-pills-apps" aria-selected="false">{{"baillapps"|trans}}</button>
					{% endif %}
					{% if is_granted("ROLE_PRESTA") %}
						<button class="nav-link my-2 p-4" id="v-pills-presta-tab" data-bs-toggle="pill" data-bs-target="#v-pills-presta" type="button" role="tab" aria-controls="v-pills-presta" aria-selected="false">{{"prestadates"|trans}}</button>
					{% if pro.services|length > 0 %}
						<button class="nav-link my-2 p-4" id="v-pills-presta2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-presta2" type="button" role="tab" aria-controls="v-pills-presta2" aria-selected="false">{{"prestataire"|trans}}</button>
					{% endif %}
						<button class="nav-link my-2 p-4" id="v-pills-presta3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-presta3" type="button" role="tab" aria-controls="v-pills-presta3" aria-selected="false">{{"services"|trans}}</button>
					{% endif %}
					{% if is_granted("ROLE_VOYAGEUR") %}
						<button class="nav-link my-2 p-4" id="v-pills-loca-tab" data-bs-toggle="pill" data-bs-target="#v-pills-loca" type="button" role="tab" aria-controls="v-pills-loca" aria-selected="false">{{"loca"|trans}}</button>
					{% endif %}
					<button class="nav-link my-2 p-4" id="v-pills-secur-tab" data-bs-toggle="pill" data-bs-target="#v-pills-secur" type="button" role="tab" aria-controls="v-pills-secur" aria-selected="false">{{"secur"|trans}}</button>
					{% if tickets|length > 0 %}
						<button class="nav-link my-2 p-4" id="v-pills-tick-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tick" type="button" role="tab" aria-controls="v-pills-tick" aria-selected="false">{{"tickets"|trans}}</button>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-10 border border-danger">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab" tabindex="0">
					<h2>{{'profile'|trans }}</h2>
					<div class="row">
						<div class="col-4 my-2">
							{{ "nom"|trans }}
						</div>
						<div class="col-6">
							{{ user.nom }}
						</div>
					</div>
					<div class="row">
						<div class="col-4 my-2">
							{{ "prenom"|trans }}
						</div>
						<div class="col-6">
							{{ user.prenom }}
						</div>
					</div>
					<div class="row">
						<div class="col-4 my-2">
							{{ "birthdate"|trans }}
						</div>
						<div class="col-6">
							{{ user.birthdate|date('d/m/Y') }}
						</div>
					</div>
					<div class="row">
						<div class="col-4 my-2">
							{{ "phone"|trans }}
						</div>
						<div class="col-6">
							{{ user.phoneNumber }}
						</div>
					</div>
					<div class="row">
						<div class="col-4 my-2">
							{{ "mail" |trans }}
						</div>
						<div class="col-6">
							{{ user.email }}
						</div>
					</div>
					<div class="row">
						<div class="col-4 my-2">
							{{ "abo" |trans }}
						</div>
						<div class="col-6">
							{{ user.abonnement.nom }}
						</div>
					</div>
					
					{% if is_granted("ROLE_BAILLEUR") or is_granted("ROLE_PRESTA") %}
						<div class="row">
							<div class="col-4 my-2">
								{{ "society" |trans }}
							</div>
							<div class="col-6">
								{{pro.societyName}}
							</div>
						</div>
						<div class="row">
							<div class="col-4 my-2">
								{{ "siret" |trans }}
							</div>
							<div class="col-6">
								{{pro.siretNumber}}
							</div>
						</div>
						<div class="row">
							<div class="col-4 my-2">
								{{ "address" |trans }}
							</div>
							<div class="col-6">
								{{pro.societyAddress}} {{pro.postalCode}} {{pro.city}}
							</div>
						</div>
						
					{% endif %}
					<div class="d-flex justify-content-around">
						<div class="col-5">
							<a href="{{path("check_infos")}}" class="btn btn-primary">{{'modifymyinfo'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-docs" role="tabpanel" aria-labelledby="v-pills-docs-tab" tabindex="0">
					<h2>{{'docs'|trans }}</h2>
					<div class="d-flex justify-content-around">
						<table class="table table-bordered">
							<tr>
								<th>{{'name'|trans }}</th>
								<th>{{'date'|trans }}</th>
								<th>{{'size'|trans }}</th>
								<th>{{'type'|trans }}</th>
								<th>{{'action'|trans }}</th>
							</tr>
							{% if user.documents is defined %}
								{% for doc in user.documents %}
									<tr>
										<td>{{ doc.nom }}</td>
										<td>{{ doc.date|date('d/m/Y') }}</td>
										<td>{{ doc.size }}</td>
										<td>{{ doc.type }}</td>
										<td>
											<button type="button" class="btn btn-info mx-2" data-bs-toggle="modal" data-bs-target="#modal-agreement{{doc.id}}">{{"see"|trans }}</button>
											<a class="btn mx-2 btn-primary" href="{{ path('download_file', {'id': doc.id}) }}">{{'download'|trans }}</a>
											<a class="btn mx-2 btn-danger" href="{{ path('delete_file', {'id': doc.id}) }}">{{'delete'|trans }}</a>
											<div class="modal fade" id="modal-agreement{{doc.id}}">
												<div class="modal-dialog modal-lg" role="document">
											    	<div class="modal-content">
														<div class="modal-header">
                    									    <h4 class="modal-title">{{"see"|trans}} {{ doc.nom }} </h4>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    									</div>
														<div class="modal-body">
											    	    	<object type="application/pdf" data="{{asset("files/pdfs/" ~ doc.path )}}" width="100%" height="500" style="height: 85vh;">No Support</object>
											        	</div>
														<div class="modal-footer">
                            								<button type="button" class="btn btn-default" data-bs-dismiss="modal">{{"close"|trans}}</button>
                        								</div>
											    	</div><!-- /.modal-content -->
											    </div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</table>

					</div>
				</div>
				{% if is_granted("ROLE_BAILLEUR") %}
					<div class="tab-pane fade" id="v-pills-baill" role="tabpanel" aria-labelledby="v-pills-baill-tab" tabindex="0">
					<h1>Stats</h1>
						<h2><a data-bs-toggle="collapse" href="#statsdash" role="button" aria-expanded="false" aria-controls="statsdash">{{'stats'|trans }}</a></h2>
						<div class="row collapse" id="statsdash">
							<div class="col-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'nblocs'|trans }}</h5>
										<canvas id="chartl"></canvas>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'notes'|trans }}</h5>
										<canvas id="chartn"></canvas>

									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'prices'|trans }}</h5>
										<canvas id="chartp"></canvas>

									</div>
								</div>
							</div>
						</div>
						<h2><a data-bs-toggle="collapse" href="#apartsdash" role="button" aria-expanded="false" aria-controls="apartsdash">{{'appart'|trans }}</a></h2>
						<div class="row collapse" id="apartsdash">
						{% for appart in appartements %}
							<div class="col-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'nbappart'|trans }}</h5>
										<canvas id="chart-app-{{loop.index}}"></canvas>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-apps" role="tabpanel" aria-labelledby="v-pills-apps-tab" tabindex="0">
						<h1>Appartements</h1>
						<a href="{{path("create_appart") }}" class="btn btn-primary">Nouveau</a>
						<div class="row">
							{% for appart in appartements %}
								<div class="col-3 my-3">
									<div class="card">
										<div class="card-body">
											<div class="splide" role="group" aria-label="Splide Basic HTML Example">
												<div class="splide__track">
													<ul class="splide__list">
													{% for img in appart.images %}
														<li class="splide__slide"><img src="{{asset("images/appartements/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
													</ul>
												</div>
											</div>
											<h5 class="card-title">{{ appart.titre }}</h5>
											<div class="btn-group">
											<a href="{{ path('appart_detail', {'id': appart.id}) }}" class="btn btn-primary">{{"see"|trans}}</a>
											<a href="{{ path('appart_modify', {'id': appart.id}) }}" class="btn btn-warning">{{"modify"|trans}}</a>
											<a href="{{ path('appart_delete', {'id': appart.id}) }}" class="btn btn-danger">{{"delete"|trans}}</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				{% endif %}
				{% if is_granted("ROLE_PRESTA") %}
					<div class="tab-pane fade" id="v-pills-presta" role="tabpanel" aria-labelledby="v-pills-presta-tab" tabindex="0">
						<h2>{{"prestadispos"|trans}}</h2>
						set dispos ici
						+ devis en attente + form dates de travail etc
						<div class="row" style="max-height:700px">
							<div id='calendar'></div>
						</div>
						<div class="row my-3 d-flex justify-content-between">
							<div class="col-4">
								<h3>{{"deviswaiting"|trans}}</h3>
								<div id="devisw">
								{% for dev in devis %}
									<div id='dragdev-{{loop.index}}' class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event badge me-3 my-1">
        								<div  class="fc-event-main">Event 1</div>
    								</div>
								{% endfor %}
								{% for dev in devis %}
									<div id='dragdev-{{loop.index+1}}' class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event badge me-3 my-1">
        								<div  class="fc-event-main">Event 2</div>
    								</div>
								{% endfor %}
								</div>
							</div>
							<div class="col-3 pull-left">
								<h3>{{"devisnottak"|trans}}</h3>
								{% for dev in unpicked %}
									<div class="card m-2">
										<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<div>{{"devde"|trans }} {{dev.nom}} {{dev.prenom}}</div>
												<div>Contact : {{ dev.contactWithPhone ? dev.numero : dev.email }}</div>
											</div>
											<a class="btn btn-primary" data-bs-toggle="collapse" href="#devnpick-{{dev.id}}" role="button" aria-expanded="false" aria-controls="devnpick-{{dev.id}}"><i class="bi bi-plus"></i></a>
										</div>
										<div class="collapse" id="devnpick-{{dev.id}}">
												{{ dev.description }}
												<btn id='pickdev-{{dev.id}}' class="btn btn-success">{{"pick"|trans}}</a>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<h3>{{"workdays"|trans}}</h3>
									{{form_start(workform)}}
									{{ form_row(workform.days) }}
									{{ form_rest(workform) }}
									{{ form_end(workform) }}
							</div>
						</div>

					</div>
					{% if pro.services|length > 0 %}
					<div class="tab-pane fade" id="v-pills-presta2" role="tabpanel" aria-labelledby="v-pills-presta2-tab" tabindex="0">
						<div class="row">
						+ dashboard sur avis clients (choix des clients sur les services) + note presta + note service
							<div class="col-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'services'|trans }}</h5>
										<canvas id="chartps"></canvas>
									</div>
								</div>
							</div>

							<div class="col-6">
								<div class="card">
									<div class="card-body h-100">
										<h5 class="card-title">{{'prestanote'|trans }} {{pro.avgNote}}</h5>
										<canvas id="chartpn"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="u">
						{% for anb in services %}
							<div class="col-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{'nbanb'|trans }}</h5>
										<canvas id="chart-serv-{{loop.index}}"></canvas>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					

					{% endif %}
					<div class="tab-pane fade" id="v-pills-presta3" role="tabpanel" aria-labelledby="v-pills-presta3-tab" tabindex="0">
					<h1>Services</h1>
						<a href="{{ path('create_service') }}" class="btn btn-primary">{{"new"|trans}}</a>
						<div class="row">
							{% for service in services %}
								<div class="col-3 my-3">
									<div class="card">
										<div class="card-body">
											<div class="splide" role="group" aria-label="Splide Basic HTML Example">
												<div class="splide__track">
													<ul class="splide__list">
													{% for img in service.images %}
														<li class="splide__slide"><img src="{{asset("images/service/"~img)}}" class="card-img-top" alt="..."></li>
													{% endfor %}
													</ul>
												</div>
											</div>
											<h5 class="card-title">{{ service.titre }}</h5>
											<div class="btn-group">
											<a href="{{ path('spec_service', {'id': service.id}) }}" class="btn btn-primary">{{'see'|trans}}</a>
											<a href="{{ path('service_modify', {'id': service.id}) }}" class="btn btn-warning">{{'modify'|trans}}</a>
											<a href="{{ path('service_delete', {'id': service.id}) }}" class="btn btn-danger">{{'delete'|trans}}</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				{% if is_granted("ROLE_VOYAGEUR") %}
					<div class="tab-pane fade" id="v-pills-loca" role="tabpanel" aria-labelledby="v-pills-loca-tab" tabindex="0">
						<h2>{{'loca'|trans }}</h2>
						<h3>{{"futureloca"|trans }}</h3>
						<div class="row d-flex justify-content-around">
							{% for location in locations %}
								<div class="col-4 my-2">
									<div class="card">
										<div class="card-header">
											<div class="splide" role="group" aria-label="Splide Basic HTML Example">
												<div class="splide__track">
													<ul class="splide__list">
														{% for img in location.appartement.images %}
															<li class="splide__slide"><img src="{{asset("images/appartements/"~ img )}}" class="card-img-top" alt="..."></li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
										<a href="{{path("location_info", {id:location.id} ) }}" class="text-decoration-none">
											<div class="card-body">
												<h4>{{location.appartement.shortDesc }}</h4>
												<small class="text-dark placeholder-glow">
													<div class="d-flex justify-content-between">
														<span class="">{{location.dateDebut|date("d-m-Y")}}
															-
															{{location.dateFin|date("d-m-Y")}}</span>
														<span class=" col-3"></span>
													</div>
													<div class="d-flex justify-content-between">
														<span class="text-dark">{{location.appartement.city}} - {{location.appartement.country}} </span>
														<span class="">{{location.price }}
															€</span>
													</div>
												</small>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
							<h3>{{"pastloca"|trans }}</h3>
							<div class="row d-flex justify-content-around">
								{% for location in pastlocations %}
									<div class="col-4 my-2">
										<div class="card past">
											<div class="card-header">
												<div class="splide" role="group" aria-label="Splide Basic HTML Example">
													<div class="splide__track">
														<ul class="splide__list">
															{% for img in location.appartement.images %}
																<li class="splide__slide"><img src="{{asset("images/appartements/"~img)}}" class="card-img-top" alt="..."></li>
															{% endfor %}
														</ul>
													</div>
												</div>
											</div>
											<a href="{{path("location_info", {id:location.id} ) }}" class="text-decoration-none">
												<div class="card-body">
													<h4>{{location.appartement.shortDesc }}</h4>
													<small class="text-dark placeholder-glow">
														<div class="d-flex justify-content-between">
															<span class="">{{location.dateDebut|date("d-m-Y")}}
																-
																{{location.dateFin|date("d-m-Y")}}</span>
															<span class=" col-3"></span>
														</div>
														<div class="d-flex justify-content-between">
															<span class="text-dark">{{location.appartement.city}} - {{location.appartement.country}} </span>
															<span class="">{{location.price }}
																€</span>
														</div>
													</small>
												</div>
											</a>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				<div class="tab-pane fade" id="v-pills-secur" role="tabpanel" aria-labelledby="v-pills-secur-tab" tabindex="0">secur...</div>
				{% if tickets|length > 0 %}
					<div class="tab-pane fade col-5" id="v-pills-tick" role="tabpanel" aria-labelledby="v-pills-tick-tab" tabindex="0">
					<h2> {{"tickets"|trans}}</h2>
						{% for ticket in tickets %}
							<div class="card my-2">
								<div class="card-header d-flex justify-content-between">
									<div>{{ ticket.titre }}</div>
									<div>{{ ticket.dateOuverture|date("d/m/Y") }}</div>
								</div>
								<div class="card-body">
									{{ ticket.description }}
								</div>
								<div class="card-footer">
									{{ constant("STATUS_LIST",ticket)[ticket.status]|trans }}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    rel="stylesheet"
/>
<script>
    monune();

    function monune() {
        var elms = document.getElementsByClassName("splide");

        for (var i = 0; i < elms.length; i++) {
            new Splide(elms[i], {
                type: "loop",
                perPage: 1,
                perMove: 1,
                pagination: false,
                autoplay: false,
                breakpoints: {
                    600: {
                        perPage: 1,
                    },
                },
            }).mount();
        }
    }
</script>
{% if is_granted("ROLE_BAILLEUR")%}
<script>

    const ctxl = document.getElementById('chartl');
    labels =[ {% for app in appartements %}"{{app.titre}}",{% endfor %}]
    data =[ {% for app in appartements %}"{{app.locations|length}}",{% endfor %}]
        new Chart(ctxl, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '# {{"nblocs"|trans}}',
                    data: data,
                    borderWidth: 1
                }]
            },
        });
        const ctxn = document.getElementById('chartn');
    data =[ {% for app in appartements %}"{{app.note}}",{% endfor %}]
        new Chart(ctxn, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '{{"note"|trans}}',
                    data: data,
                    borderWidth: 1
                }]
            },
        });
        const ctxp = document.getElementById('chartp');
    data =[ {% for app in appartements %}"{{app.price}}",{% endfor %}]
        new Chart(ctxp, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# {{"price"|trans}}',
                    data: data,
                    borderWidth: 1
                }]
            },
        });
    {% for name, appart in data %}
    const ctx_a_{{loop.index}} = document.getElementById('chart-app-{{loop.index}}');
            const title_a_{{loop.index}} = document.getElementById('chart-app-{{loop.index}}').parentElement.parentElement.querySelector('h5');
            title_a_{{loop.index}}.innerHTML = "\"{{name}}\"" + " : note moyenne {{appart.average_rating}}/5";
            new Chart(ctx_a_{{loop.index}}, {
                    type: 'bar',
                    data: {
                            labels: ['1 étoile', '2 étoiles', '3 étoiles', '4 étoiles', '5 étoiles'],
                            datasets: [{
                                    label: '# {{"nbvotes"|trans}}',
                                    data: [{{appart.one_star_review}}, {{appart.two_star_review}}, {{appart.three_star_review}}, {{appart.four_star_review}}, {{appart.five_star_review}}],
                                    borderWidth: 1
                            }]
                    },
            });
    {% endfor %}
</script>
{% endif %} {% if is_granted("ROLE_PRESTA")%}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
/>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    rel="stylesheet"
/>
<script
    src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"
    defer
></script>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-fr_FR.min.js"></script>

<script>
                document.addEventListener('DOMContentLoaded', function() {
                    var allevents = "";
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        themeSystem: 'bootstrap5',
                        weekNumbers: true,
                        height: '700px',
                        locale: "{{app.request.locale}}",
                        weekNumberCalculation: {% if app.request.locale == 'fr' %}
                            'ISO', {% else %} 'local',
                        {% endif %}
                        weekText: '{{"shweek"|trans}}',
                        navLinks: true,
                        headerToolbar: {
                            left: 'prevYear,prev,next,nextYear today',
                            center: 'title',
                            right: 'timeGridDay,timeGridWeek,dayGridMonth,multiMonthYear' // user can switch between the two
                        }, buttonText: {
                            today:        "{{'today'|trans|raw}}",
                            month:        '{{"month"|trans}}',
                            week:         '{{"weeke"|trans}}',
							year:		 '{{"year"|trans}}',
                            day:            '{{"day"|trans}}',
                            list:         '{{"list"|trans}}'
    }, titleFormat:{ year: 'numeric', month: 'long', day: 'numeric' },
                    nowIndicator: true,
                    editable:true,
                    stick: true,
                    businessHours: {
                                // days of week. an array of zero-based day of week integers (0=Sunday)
                                daysOfWeek:    {{pro.workDays |json_encode|raw}}, // Monday - Thursday
                                startTime: "{{pro.startHour}}", // a start time (10am in this example)
                                endTime:    "{{pro.endHour}}", // an end time (6pm in this example)
                            },
                    eventOverlap: true, //TODO : finir
                    droppable: true,
                    drop: function(arg) {
                            // is the "remove after drop" checkbox checked?
                            //if (document.getElementById('drop-remove').checked) {
                                // if so, remove the element from the "Draggable Events" list
                                    arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                            },
                    eventReceive: function(info) {
                    //eventReceive: function(info) {
                    //	d = {{pro.workDays |json_encode|raw}}
                    //	if (d.includes(info.event.start.getDay())){
                    //	calendar.addEvent({
                    //		title: info.event.title,
                    //		start: info.event.start,
                    //		end: info.event.end,
                    //		allDay: info.event.allDay,
                    //		groupId: info.event.groupId,
                    //		})
                    //	}
    //				$.ajax({
     //					{# url: "{{path('presta_add_event')}}", #}
    //					type: 'POST',
    //					data: {
    //						title: info.event.title,
    //						start: info.event.start,
    //						end: info.event.end,
    //					},
    //					success: function(response) {
    //						console.log(response);
    //					}
    //				});
                            }
                    });
                    calendar.render();


                    //{#{% for dev in devis %}
                    //	new FullCalendar.Draggable(document.querySelector('#dragdev-{{loop.index}}'), {
                    //		eventData: {
                    //			title: '{{dev.nom ~ " " ~ dev.prenom}}',
                    //			duration: {hours:2},
                    //			color: 'blue',
                    //			groupId: 'devis-{{dev.id}}',
                    //			startEditable: true,
                    //			durationEditable: true,
                    //			revert: true,
                    //		}
                    //	});
                    //{% endfor %} #}

                    {% for dev in devis %}
                            new FullCalendar.Draggable(document.querySelector('#dragdev-{{loop.index}}'), {
                                    eventData: {
                                            title: '{{dev.nom ~ " " ~ dev.prenom}}',
                                            duration: '02:00',
                                            color: 'blue',
                                            startTime: '10:00',
                                            endTime: '12:00',
                                            groupId: 'devis-{{dev.id}}',
                                            startEditable: true,
                                            durationEditable: true,
                                            revert: true,
                                    }
                            });
                    {% endfor %}
                    {% for dev in devis %}
                            new FullCalendar.Draggable(document.querySelector('#dragdev-{{loop.index+1}}'), {
                                    eventData: {
                                            title: '{{dev.nom ~ " " ~ dev.prenom}}',
                                            duration: '02:00',
                                            color: 'red',
                                            startTime: '10:00',
                                            endTime: '12:00',
                                            groupId: 'devis-{{dev.id+1}}',
                                            startEditable: true,
                                            durationEditable: true,
                                            revert: true,
                                    }
                            });
                    {% endfor %}
                    });
            $("#v-pills-presta-tab").click(function(){
                    var prevButton = document.querySelector('.fc-prev-button');
                    var nextButton = document.querySelector('.fc-next-button');
                    nextButton.click();
                    prevButton.click();
            });
			{% for dev in unpicked %}
            $("#pickdev-{{dev.id}}" ).click(function(){
                    $(this).append('<div class="spinner-border text-primary" id="loader" role="status"><span class="visually-hidden">Loading...</span></div>');
                    $.ajax({
                            url: "{{path('devis_pick')}}",
                            type: 'POST',
                            data: {
                                    id: {{dev.id}},
                            },
                            success: function(response) {
                                    ("#devisw").append('<div id="dragdev-{{dev.id}}" class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event badge me-3 my-1"><div    class="fc-event-main">Event 1e</div></div>');
                                    console.log(response);
                                    $(this).remove();
                            },
                            error: function(response) {
                                    console.error(response);
                            },
                            complete: function(response) {
                                    $('#loader').remove();
                            }
                    });
                            });
			{% endfor %}
</script>
<script>

    const ctxps = document.getElementById('chartps');
    labels =[ {% for serv in services %}"{{serv.titre}}",{% endfor %}]
    data =[ {% for serv in services %}"{{serv.locations|length}}",{% endfor %}]
        new Chart(ctxps, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '# {{"nblocs"|trans}}',
                    data: data,
                    borderWidth: 1
                }]
            },
        });
        const ctxpn = document.getElementById('chartpn');
    data =[ {% for serv in services %}"{{serv.avgnote}}",{% endfor %}]
        new Chart(ctxpn, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '{{"note"|trans}}',
                    data: data,
                    borderWidth: 1
                }]
            },
        });
    {% for name, note in dataserv %}
    const ctx_a_{{loop.index}} = document.getElementById('chart-serv-{{loop.index}}');
            const title_a_{{loop.index}} = document.getElementById('chart-serv-{{loop.index}}').parentElement.parentElement.querySelector('h5');
            title_a_{{loop.index}}.innerHTML = "\"{{name}}\"" + " : note moyenne {{note.average_rating}}/5";
            new Chart(ctx_a_{{loop.index}}, {
                    type: 'bar',
                    data: {
                            labels: ['1 étoile', '2 étoiles', '3 étoiles', '4 étoiles', '5 étoiles'],
                            datasets: [{
                                    label: '# {{"nbvotes"|trans}}',
                                    data: [{{note.one_star_review}}, {{note.two_star_review}}, {{note.three_star_review}}, {{note.four_star_review}}, {{note.five_star_review}}],
                                    borderWidth: 1
                            }]
                    },
            });
    {% endfor %}
</script>
{% endif %}


	{% endblock %}
