{% extends 'base.html.twig' %}
{% block title %}{{"Verification de l'inscription"|trans}}{% endblock %}
{% block body %}
    <h1>{{"Verification de l'inscription"|trans}}</h1>

    {{ form_start(form) }}
    {{ form_row(form.justification) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}