{% extends 'base.html.twig' %}

{% block title %}
	{{"appart"|trans}}
{% endblock %}
{% block body %}
	<div>
		<div class="row d-flex">
			<div class="col">
				<div class="fs-1">{{appart.titre}}</div>
			</div>
			<div class="col-2 pull-right">
				<a href="#">
					<i class="bi-heart"></i>
					{{"J'aime"|trans}}</a>
				<a href="{{ path('appart_detail', {'id': appart.id}) }}">
					<i class="bi-send"></i>{{"Je partage"|trans}}</a>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="splide" role="group" aria-label="Splide Basic HTML Example">
		  		<div class="splide__track">
					<ul class="splide__list">
						{% for image in appart.images %}
							<li class="splide__slide d-flex justify-content-center">
								<img src="{{ asset('images/appartements/'~image) }}" alt="image" style=" height: 100%;" >
							</li>
						{% endfor %}
					</ul>
		  		</div>
			</div>
		</div>
		<div class="row">
			<div>
				<b>{{appart.shortDesc}}</b>
			</div>
			<div style="display: flex; justify-content: space-between; width: 100%;">

				<p>{{appart.NbVoyageurs}}
					{{"Voyageurs"|trans}} -
					{{appart.nbchambers}}
					{{"Chambres"|trans}} -
					{{appart.nbBeds}}
					{{"Lits"|trans}} -
					{{appart.nbbathrooms}}
					{{"Salle de bain"|trans}}</p>
				<p class="">{{appart.note}}
					/ 5</p>
			</div>
			<hr class="text-info">
			<div class="row">
				<div class="d-flex">
					<img class="me-3 mb-3" src="{{asset("/images/presta/"~appart.bailleur.image)}}" alt="" width=100 height=100>
					<div>
						<p>
							<b>{{"Hôte"|trans}} :</b>
							{{appart.bailleur.responsable.prenom}}
							{{appart.bailleur.responsable.nom}}</p>

						<p>
							<b>Description :</b><br>{{appart.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<hr class="text-info">
		<div class="row">
			<h3>{{"apartproposes"|trans }}</h3>

			{% for plus in appart.appartPluses %}
				<div class="col-4">
					<div class="d-flex">
						<i class="{{constant('ICONS', plus)[constant('LIST_PLUSES', plus)[plus.icon]]['data-icon']}}"></i>
						<div>
							&nbsp;
							{{constant('LIST_PLUSES', plus)[plus.icon] }}
							{# Joli bordel juste pour une simple icône de merde #}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<hr class="text-info">
		<div class="d-flex">
			<div class=" col-12 mx-2 text-center">
				<h3>{{"address"|trans}}</h3>
				<div id='map' style='width: 600px; height: 500px; margin: auto;'></div>
			</div>
		</div>
		<hr class="text-info">
		{{ form_start(form) }}
		<div class="row">
			<div class=" p-3 text-center">
				<h3>{{'chdate'|trans}}</h3>
				<div
					class="d-inline d-flex justify-content-center" id="dates">
					{# <input id="startdate" placeholder="Add dates"> #}
					{{ form_row(form.date) }}
				</div>
			</div>
		</div>
		<div class=" row d-flex">
			<h3>{{"travelernum"|trans }}</h3>
			<div class="d-flex justify-content-between">
				<div class="d-flex justify-content-around">
					<div class="col-2">
						<div class="d-flex flex-row">
							{{ form_label(form.adults) }}
						</div>
						<div class="d-flex flex-row">
							<i class="bi bi-dash-circle moins fs-1"></i>
							{# <input id="NbBebes" type="number" class="form-control" value="0" min="0"> #}
							{{ form_widget(form.adults) }}
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
					<div class="col-2">
						<div class="d-flex flex-row">
							{{ form_label(form.kids) }}
						</div>
						<div class="d-flex flex-row">
							<i class="bi bi-dash-circle moins fs-1"></i>
							{# <input id="NbBebes" type="number" class="form-control" value="0" min="0"> #}
							{{ form_widget(form.kids) }}
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
					<div class="col-2">
						<div class="d-flex flex-row">
							{{ form_label(form.babies) }}
						</div>
						<div class="d-flex flex-row">
							<i class="bi bi-dash-circle moins fs-1"></i>
							{# <input id="NbBebes" type="number" class="form-control" value="0" min="0"> #}
							{{ form_widget(form.babies) }}
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
				</div>
				{{ form_row(form.appart, {value:appart.id})}}
				<div class="vr"></div>
				<div class="col-4">
					<h3>{{"prevmont"|trans}}</h3>
					<div class="col-6">
						<p id="price">{{"price"|trans}}
							:
							{{appart.price}}
							€/
							{{"nuit"|trans }}<span id="tprice"></span>
							<span id="sprice"></span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 my-3">
				<button id="confirm" class="btn btn-primary">{{"reserv"|trans}}</button>
			</div>
		</div>
		{{ form_end(form) }}
		<hr class="text-info">
		<h3>{{"comms"|trans}}</h3>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4 text-center">
								<h1 class="text-warning mt-4 mb-4">
									<b>
										<span id="average_rating">0.0</span>
										/ 5</b>
								</h1>
								<div class="mb-3">
									<i class="fas fa-star star-light mr-1 main_star"></i>
									<i class="fas fa-star star-light mr-1 main_star"></i>
									<i class="fas fa-star star-light mr-1 main_star"></i>
									<i class="fas fa-star star-light mr-1 main_star"></i>
									<i class="fas fa-star star-light mr-1 main_star"></i>
								</div>
								<h3>
									<span id="total_review">0</span>
									{{"Review"|trans}}</h3>
							</div>
							<div class="col-sm-4">
								<p>
									<div class="progress-label-left">
										<b>5</b>
										<i class="fas fa-star text-warning"></i>
									</div>
									<div class="progress-label-right">(<span id="total_five_star_review">0</span>)</div>
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="five_star_progress"></div>
									</div>
								</p>
								<p>
									<div class="progress-label-left">
										<b>4</b>
										<i class="fas fa-star text-warning"></i>
									</div>
									<div class="progress-label-right">(<span id="total_four_star_review">0</span>)</div>
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="four_star_progress"></div>
									</div>
								</p>
								<p>
									<div class="progress-label-left">
										<b>3</b>
										<i class="fas fa-star text-warning"></i>
									</div>
									<div class="progress-label-right">(<span id="total_three_star_review">0</span>)</div>
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="three_star_progress"></div>
									</div>
								</p>
								<p>
									<div class="progress-label-left">
										<b>2</b>
										<i class="fas fa-star text-warning"></i>
									</div>
									<div class="progress-label-right">(<span id="total_two_star_review">0</span>)</div>
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="two_star_progress"></div>
									</div>
								</p>
								<p>
									<div class="progress-label-left">
										<b>1</b>
										<i class="fas fa-star text-warning"></i>
									</div>
									<div class="progress-label-right">(<span id="total_one_star_review">0</span>)</div>
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="one_star_progress"></div>
									</div>
								</p>
							</div>
							{% if canComm %}
								<div class="col-sm-4 text-center">
									<h3 class="mt-4 mb-3">{{"Write Review Here"|trans}}</h3>
									<button type="button" name="add_review" id="add_review" class="btn btn-primary">Review</button>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="mt-5" id="review_content"></div>
			</div>
			<div class="row">
				{% if canComm %}
					<div class="col-12">
						{{ form_start(formComm) }}
						{{ form_row(formComm.commentaire) }}
						{{ form_row(formComm.type, {value:type}) }}
						{{ form_row(formComm.entityId, {value:appart.id}) }}
						<button class="btn btn-primary">{{"comment"|trans}}</button>
						{{ form_end(formComm) }}
					</div>
				{% endif %}
				{% for comm in commentaires %}
					<div class="col-6 my-2">
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between w-100">
									<h5 class="card-title">{{"comm"|trans}}
										{{ loop.index }}</h5>
									<small class="text-muted">{{ comm.date|date('d/m/Y') }}</small>
								</div>
								<p class="card-text mb-1">{{ comm.commentaire }}</p>
								<small class="text-muted">{{"wrby"|trans }}
									{{ comm.user }}</small>
							</div>
						</div>
					</div>
				{% else %}
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{'nocomm'|trans}}</h5>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
	
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'/>
		<style>
			.marker {
				background-image: url('{{ asset("marker.png") }}');
				background-size: 100%;
				width: 30px;
				height: 45px;
				cursor: pointer;
			}
			.mapboxgl-popup {
				max-width: 200px;
			}

			.mapboxgl-popup-content {
				text-align: center;
				font-family: 'Open Sans', sans-serif;
			}
		</style>
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	{% endblock %}
	{% block javascripts %}
	<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
" defer ></script>

	<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide', {
		type   : 'loop',
	  	gap    : '1rem',
		width  : 'auto',
		fixedHeight: '25rem',
		width: '100%',
	  	autoplay: true,
	  	interval: 3000,
	  	pauseOnHover: true,
		});
    splide.mount();
  } );
</script>

		<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiYnlxIiwiYSI6ImNsdjBza2E2ajFxcHkycW53bXBheGd4cGUifQ.THaHqpyg1zDpdAcCWTQsjQ';
var map = new mapboxgl.Map( {
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [
2.3856312, 48.8461429
],
zoom: 12,
  maxZoom: 20,
  minZoom: 10
} );
const geojson = {
type: 'FeatureCollection',
features: [
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [ 2.3856312, 48.8461429 ]
},
properties: {
title: 'Mapbox',
description: 'Washington, D.C.'
}
},
]
};
// add markers to map
for ( const feature of geojson.features ) { // create a HTML element for each feature
const el = document.createElement( 'div' );
el.className = 'marker';

// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
  .setLngLat(feature.geometry.coordinates)
  .setPopup(
    new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML(
        `<h5>${feature.properties.title}</h5><p>${feature.properties.description}</p>`
      )
  )
  .addTo(map);}
map.addControl( new mapboxgl.NavigationControl() );

var dates = {{ dates|json_encode|raw }};
			$( "#location_first_date" ).daterangepicker( {
				"locale": "fr",
				"minDate": new Date(),
				"disable": [],
				"autoApply": true,
				"isInvalidDate": function(date) {
					if ($.inArray(date.format('YYYY-MM-DD'), dates) != -1) {
						return true;
					} else {
						return false;
					}
				}
				}, function(start, end, label) {
				$("#tprice").text(" => du "+start.format('DD/MM/YYYY')+" au "+end.format('DD/MM/YYYY')
				+ ' ('+end.diff(start, 'days')+" nuits) = ");
				$("#sprice").text(end.diff(start, 'days')*{{appart.price}}+ " €");
				});
		$('.plus').click(function () {
			var total = +$("#location_first_adults").val() + +$("#location_first_kids").val()+ +$("#location_first_babies").val();
			if (total >= {{appart.nbVoyageurs}} ){
				return;
			}
			$(this).prev().val(+$(this).prev().val() + 1);
		});

		$('.moins').click(function () {
			if ($(this).next().val() == 1 && $(this).next().get(0).id == "location_first_adults") {
			} else {
			if ($(this).next().val() > 0) $(this).next().val(+$(this).next().val() - 1);
			}
		});




load_rating_data();

    function load_rating_data()
    {
        $.ajax({
            url:"{{ path('ajax_get_rating') }}",
			data:{id:{{appart.id}}},
            success:function(data)
            {
                $('#average_rating').text(data.average_rating);
                $('#total_review').text(data.total_review);
                var count_star = 0;
                $('.main_star').each(function(){
                        count_star++;
                    if(Math.ceil(data.average_rating) >= count_star)
                    {
                        $(this).addClass('text-warning');
                        $(this).addClass('star-light');
                    }
                });
                $('#total_five_star_review').text(data.five_star_review);
                $('#total_four_star_review').text(data.four_star_review);
                $('#total_three_star_review').text(data.three_star_review);
                $('#total_two_star_review').text(data.two_star_review);
                $('#total_one_star_review').text(data.one_star_review);
                $('#five_star_progress').css('width', (data.five_star_review/data.total_review) * 100 + '%');
                $('#four_star_progress').css('width', (data.four_star_review/data.total_review) * 100 + '%');
                $('#three_star_progress').css('width', (data.three_star_review/data.total_review) * 100 + '%');
                $('#two_star_progress').css('width', (data.two_star_review/data.total_review) * 100 + '%');
                $('#one_star_progress').css('width', (data.one_star_review/data.total_review) * 100 + '%');
            }
        })
    }
		</script>
	{% endblock %}

