{% extends 'base.html.twig' %}
{% block title %}Confirmation
{% endblock %}
{% block javascripts %}

	<script data-require="jquery@2.2.4" data-semver="2.2.4" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-6">
			<div class="card bg-info">
				<div class="card-header">
					<h2>Demande de Réservation</h2>
				</div>
				<div class="card-body">
					<p>Votre voyage:</p>
					<div class='d-flex justify-content-between mb-2'>
						<div>
							Date :
						</div>
						<div>
							<a href="{{ '#' }}" class="link-light">Modifier</a>
						</div>
					</div>
					<p>{{ firstForm.vars.value.date }}</p>
					<div class='d-flex justify-content-between mb-2'>
						<div>
							Voyageurs :
						</div>
						<div>
							<a href="{{ '#' }}" class="link-light">Modifier</a>
						</div>
					</div>
					{% set num = firstForm.vars.value.adults + firstForm.vars.value.kids + firstForm.vars.value.babies %}
					<p>{{ num  }}
						{% if num > 1 %}
							Voyageurs
						{% else %}
							Voyageur
						{% endif %}
						<span></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card bg-info mb-3">
				<div class="card-header">
					<h2>Appartement</h2>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col d-flex flex-row">
							<div class="col-3">
								<img src="http://placehold.it/150" alt="appartement">
							</div>
							<div class="col">
								<p>{{ appart.shortDesc }}</p>
								<p>{{ appart.city }}</p>
								<p>{{ appart.price }}
									€/nuit</p>
							</div>
						</div>
						<hr class="text-light">
						<div class="row">
							<h3>Détails du prix</h3>
							<div class="col d-flex flex-column justify-content-between">
								<div class="col m-2 d-flex justify-content-between">
									<div>Arrivée</div>
									<div>8555 €</div>
								</div>
								<div class="col m-2 d-flex justify-content-between">
									<div>Bla bla</div>
									<div>7000 €</div>
								</div>
							</div>
						</div>
						<hr class="text-light">
						<div class="row">
							<div class="col d-flex justify-content-between">
								<div class="col m-2 d-flex justify-content-between">
									<div>
										total</div>
									<div>7000 €</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-info">
				<div class="card-header">
					<h2>Options supplémentaires</h2>
					{{ form_start(secondForm) }}
					{{ form_row(secondForm.services) }}
					{{ form_widget(secondForm.firstForm.kids, {value: firstForm.vars.value.kids, attr:  {"class":"visually-hidden", "readonly": "readonly"}}) }}
					{{ form_widget(secondForm.firstForm.adults, {value: firstForm.vars.value.adults, attr:  {"class":"visually-hidden", "readonly": "readonly"}}) }}
					{{ form_widget(secondForm.firstForm.babies, {value: firstForm.vars.value.babies, attr:  {"class":"visually-hidden", "readonly": "readonly"}}) }}
					{{form_row(secondForm._token) }}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{{ path('index') }}" class="btn btn-primary">Procéder au paiement</a>
		</div>
	</div>
	{{ form_end(secondForm, {render_rest: false}) }}
{% endblock %}
