{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">{{ 'crappart'|trans }}</h2>
    {% form_theme reservation 'bootstrap_5_layout.html.twig' %}
    {{ form_start(reservation) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.titre) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.shortDesc) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.price) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.address) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.city) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.postalCode) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.country) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.nbVoyageurs) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.note) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(reservation.nbchambers) }}
        </div>
        <div class="col-md-4">
            {{ form_row(reservation.nbbathrooms) }}
        </div>
        <div class="col-md-4">
            {{ form_row(reservation.nbBeds) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(reservation.surface) }}
        </div>
        <div class="col-md-6">
            {{ form_row(reservation.images) }}
        </div>
    </div>
    <div class="text-center mt-4">
        {{ form_row(reservation.submit, { label: "crappart", attr: { class: "btn btn-success" } }) }}
    </div>
    {{ form_row(reservation._token) }}
    {{ form_end(reservation, { render_rest: false }) }}
</div>
{% endblock %}

{% block javascripts %}
<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.19/web.js"></script>
<script>
    const ACCESS_TOKEN = 'pk.eyJ1IjoiYnlxIiwiYSI6ImNsdjBza2E2ajFxcHkycW53bXBheGd4cGUifQ.THaHqpyg1zDpdAcCWTQsjQ';

    document.getElementById("search-js").onload = () => {
        mapboxsearch.config.accessToken = ACCESS_TOKEN;
        const collection = mapboxsearch.autofill({ accessToken: ACCESS_TOKEN });

        // Add confirmation prompt to shipping address
        const form = document.querySelector("form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const result = await mapboxsearch.confirmAddress(form, {
                theme: {
                    variables: {
                        border: '3px solid rgba(0,0,0,0.35)',
                        borderRadius: '18px'
                    }
                },
                minimap: {
                    defaultMapStyle: ['mapbox', 'outdoors-v11'],
                    satelliteToggle: true
                },
                skipConfirmModal: (feature) => ['exact', 'high'].includes(feature.properties.match_code.confidence)
            });
            if (result.type === 'nochange') 
                submitForm();
        });

        function submitForm() {
            form.submit();
        }
    }
</script>
{% endblock %}
