{% extends 'base.html.twig' %}

{% block title %}
	{{"loca"|trans}}
{% endblock %}
{% block stylesheets %}
	<style>

		.bar {
			width: 650px;
			background: #002349;
			box-shadow: 0 0 5px hsl(0 0% 78%);
			height: 55px;
			border-radius: 100vw;
			display: flex;
			justify-content: center;
			font-size: 0.6rem;
		}

		.bar div {
			border-radius: inherit;
			padding: 0.8rem 1.5rem;
			transition: 250ms ease;
		}

		.bar div:hover {
			background: #25486E;
		}

		.location {
			width: 34%;
		}
		.check-in,
		.check-out,
		.guests {
			width: 22%;
		}

		input[type="text"],
		input[type="date"],
		p.djf {
			background: none;
			border: none;
			padding: 0.2rem 0 0;
			position: relative;
			top: -15px;
		}

		/*.onlynum {
			background: none;
			border: none;
		}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	  		-webkit-appearance: none;
	  		margin: 0;
	}*/
		input[type="text"]:focus {
			outline: none;
		}

		::placeholder {
			font-size: 0.75rem;
		}

		.guests {
			position: relative;
		}
		.guests span {
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			background: #3976AE;
			color: #fff;
			font-size: 0.8rem;
			padding: 0.8rem;
			border-radius: 50%;
		}

		.bar > div {
			position: relative;
		}


		.bar > div::before {
			position: absolute;
			content: "";
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 55%;
			background: white;
		}

		.bar>div:nth-of-type(1)::before {
			background: transparent;
		}

		.bar>div:hover::before {
			background: transparent;
		}
	</style>

{% endblock %}

{% block body %}
	<div class="m-3 d-flex align-items-center justify-content-center">
		<div class="bar">
			<div class="text-light location">
				<p>{{'destination'|trans }}</p>
				<input type="text" id="dest" class="text-light" placeholder="{{'dest'|trans}}">
			</div>
			<div class="text-light check-in">
				<p>{{'checkin'|trans}}</p>
				<input type="date" id="startdate" class="text-light" placeholder="{{'when'|trans }}">
			</div>
			<div class="text-light check-out">
				<p>{{'checkout'|trans}}</p>
				<input type="date" id="enddate" class="text-light" placeholder="{{'when'|trans }}">
			</div>
			<div class="text-light guests">
				<p>{{"guests"|trans }}</p>
				<p class="djf" data-bs-toggle="collapse" data-bs-target="#card" aria-expanded="false" aria-controls="card">0 voyageur</p>
				<span id="search">
					<i class="bi-search"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="collapse" id="card">
		<div class=" d-flex justify-content-center">
			<div class="card col-3">
				<div class="card-body">
					<div class="form-group">
						<label for="adults">{{"adults"|trans }}</label>
						<div class="d-flex flex-row justify-content-between align-items-center">
							<i class="bi bi-dash-circle moins fs-1"></i>
							<input type="number" class="onlynum form-control" id="adults" min="0" value="0" max="6">
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
					<div class="form-group">
						<label for="children">{{"kids"|trans }}</label>
						<div class="d-flex flex-row justify-content-between align-items-center">
							<i class="bi bi-dash-circle moins fs-1"></i>
							<input type="number" class="onlynum form-control" id="children" min="0" value="0" max="6">
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
					<div class="form-group">
						<label for="babies">{{"babies"|trans}}</label>
						<div class="d-flex flex-row justify-content-between align-items-center">
							<i class="bi bi-dash-circle moins fs-1"></i>
							<input type="number" class="onlynum form-control" id="babies" min="0" value="0" max="6">
							<i class="bi bi-plus-circle plus fs-1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row d-flex justify-content-around">
		{% for appart in apparts %}
				<div class="card col-md-3 my-3 mx-1 py-1">
					<div class="card-header">
						<div class="splide" role="group" aria-label="Splide Basic HTML Example">
							<div class="splide__track">
								<ul class="splide__list">
								{% for img in appart.images %}
									<li class="splide__slide"><img src="{{asset("images/appartements/"~img)}}" class="card-img-top" alt="..."></li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<a href="{{ path('appart_detail', {'id': appart.id}) }}" class="text-decoration-none">
						<div class="card-body">
							<h5>{{appart.city}}
								-
								{{appart.country}}</h5>
							<small class=" text-black">{{appart.description|slice(0,50)~"..."}}</small>
							<div class=" text-black" style="display: flex; justify-content: space-between; width: 100%;">
								<p>{{appart.price}}
									€ / Nuit</p>
								<p>{{appart.note}}
									/ 5</p>
							</div>
						</div>
					</a>
				</div>
		{% endfor %}

	{% endblock %}

{% block javascripts %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
	<script>
		$( "#startdate" ).flatpickr( {
			"plugins": [new rangePlugin(
				{ input: "#enddate" }
			)], 
		});
	</script>
	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

		$('.plus').click(function () {
			$(this).prev().val(+$(this).prev().val() + 1);
			var total = +$("#adults").val() + +$("#children").val()+ +$("#babies").val();
			var travel = " voyageurs";
			if (total <= 1) {
				travel =" voyageur";
			}
			$(".djf").text(total+travel);
		});

		$('.moins').click(function () {
			if ($(this).next().val() > 0) $(this).next().val(+$(this).next().val() - 1);
			var total = +$("#adults").val() + +$("#children").val()+ +$("#babies").val();
			var travel = " voyageurs";
			if (total <= 1) {
				travel =" voyageur";
			}
			$(".djf").text(total+travel);
		});


		$('#search').click(function () {
			if ($("#dest").val() == "" && $("#startdate").val() == "" && $("#enddate").val() == "" && $("#adults").val() == 0) {
				console.error("Veuillez remplir au moins un champ");
				return;
			}
			$(".collapse").collapse('hide');
			$(".row").empty();
			$(".row").append(`
				<div class="spinner-border text-primary" id="loader" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			`);
			console.log($("#dest").val(), $("#startdate").val(), $("#enddate").val(), $("#adults").val(), $("#children").val(), $("#babies").val());
			$.ajax({
				url: "{{ path('ajax_search') }}",
				type: "POST",
				data: {
					'dest': $("#dest").val(),
					'startdate': $("#startdate").val(),
					'enddate': $("#enddate").val(),
					'adults': $("#adults").val(),
					'children': $("#children").val(),
					'babies': $("#babies").val()
				},
				success: function (data) {
					data.forEach(appart => {
						var text= `
							<div class="card col-md-3 my-3 mx-1 py-1">
								<div class="card-header">
									<div class="splide" role="group" aria-label="Splide Basic HTML Example">
										<div class="splide__track">
											<ul class="splide__list">`;
											if (appart.images.length == 0) {
												text+=(`<li class="splide__slide"><img src="https://reviveyouthandfamily.org/wp-content/uploads/2016/11/house-placeholder.jpg" class="card-img-top" alt="..."></li>`);
											} else {
												console.log(appart.images, typeof appart.images);
												for (key in appart.images) {
													text+=(`<li class="splide__slide"><img src="images/appartements/${appart.images[key]}" class="card-img-top" alt="..."></li>`);
												};
											}
											let route = "{{ path('appart_detail', { id: '0000' }) }}";
											route = route.replace('0000', appart.id);
											text+=(`
											</ul>
										</div>
									</div>
								</div>
								<a href="${route}" class="text-decoration-none text-black">
									<div class="card-body">
										<h5>${appart.city}
											-
											${appart.country}</h5>
										<small>${appart.description.slice(0,50)+"..."}</small>
										<div style="display: flex; justify-content: space-between; width: 100%;">
											<p>${appart.price}
												€ / Nuit</p>
											<p>${appart.note}
												/ 5</p>
										</div>
									</div>
								</a>
							</div>
						`);
						$(".row").append(text);
					});
					console.log(data);
					monune();
				},
				complete: function () {
					$("#loader").remove();
				},
				error: function (error) {
					console.error(error);
				}
			});
		});
		monune();

function monune() {
	var elms = document.getElementsByClassName( 'splide' );

	for ( var i = 0; i < elms.length; i++ ) {
		new Splide( elms[ i ], {
			type       : 'loop',
			perPage    : 1,
			perMove    : 1,
			pagination : false,
			autoplay   : false,
			breakpoints: {
				600: {
					perPage: 1,
				}
			}
		
		}).mount();
	}
}

	</script>
{% endblock %}
