{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
{{ 'Justification'|trans }}s 
{% endblock %}
{% block page_content %}
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>{{"nom"|trans}}</th>
				<th>{{"siret"|trans}}</th>
				<th>{{"address"|trans}}</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if traitements is defined %}
				{% for traitement in traitements %}
					<tr>
						<td>{{ traitement.id }}</td>
						<td>{{ traitement.name }}</td>
						<td>{{ traitement.siret }}</td>
						<td>{{ traitement.address }}</td>
						<td>
							<a href="{{traitement.url}}" class="btn btn-primary">{{"see"|trans}}</a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="6">{{"Pas de traitements en cours"|trans}}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
