{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div>
		<i class="fa fa-user"></i>
		<svg class="bi" width="32" height="32" fill="currentColor">
			<use xlink:href="bootstrap-icons.svg#shop"/>
		</svg>
	</div>
	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form action="{{ path('app_login') }}" method="post">
		<label for="username">Email:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}">

		<label for="password">Password:</label>
		<input
		type="password" id="password" name="_password">

		{# If you want to control the URL the user is redirected to on success
					        <input type="hidden" name="_target_path" value="/account"> #}
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit">login</button>
	</form>
{% endblock %}
