{% extends 'base.html.twig' %}


{% block page_title %}{{"register"|trans}}{% endblock %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
        {% set page_title = block('page_title') %}
    <div class="login-wrapper" style="margin-top:0px">
        <header class="main-header">
            <div id="header-logo">
                {% block header_logo %}
                            <div class="py-2 display-4 logo {{ page_title|length > 14 ? 'logo-long' }}">
                                {{ page_title|raw }}
                            </div>
                {% endblock header_logo %}
            </div>
        </header>

        <section class="content">

            {% if error|default(false) %}
                <div class="w-100 alert alert-danger rounded mb-3">
                    <i class="fas fa-times-circle mr-1"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            label: 'nom'
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: 'prenom'
        }) }}
        {{ form_row(registrationForm.birthdate, {
            label: 'birthdate'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'emailfield'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'password'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'agree',
            label_html: true
        }) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
        </section>
    </div>
{% endblock %}
