{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<div class="row d-flex">
			<div class="col">
				<div class="fs-1">{{appart.titre}}</div>
			</div>
			<div class="col-2 pull-right">
				<a href="#">
					<i class="bi-heart"></i>
					J'aime</a>
				<a href="{{ path('appart_detail', {'id': appart.id}) }}">
					<i class="bi-send"></i>Je partage</a>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="d-flex justify-content-center">
				<img src="{#{{ asset('images/' ~ appart.image) }}#} https://placehold.co/1000x500" alt="">
			</div>
		</div>
		<div class="row">
			<div><b>{{appart.shortDesc}}</b></div>
			<div style="display: flex; justify-content: space-between; width: 100%;">
				
				<p>{{appart.Nbrooms}} Voyageurs - {{appart.nbchambers}} Chambres - {{appart.nbBeds}} Lits - {{appart.nbbathrooms}} Salle de bain</p>
				<p class="">{{appart.note}} / 5</p>
			</div>
			<hr class="text-info">
			<div class="row">
				<div class="d-flex">
						<img class="me-3 mb-3" src="https://placehold.co/90x90" alt="">
					<div>
						<p><b>Hôte :</b> {{appart.bailleur.responsable.prenom}} {{appart.bailleur.responsable.nom}}</p>		
						
						<p><b>Commentaire :</b><br>{{appart.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<hr class="text-info">
		<div class="row">
			<h3>Ce que propose ce logement :</h3>
			<div class="col-4">
				<ul>
					<li>Wifi</li>
					<li>Cuisine</li>
					<li>Chauffage</li>
					<li>TV</li>
				</ul>
			</div>
		</div>
		<hr class="text-info">
		<div class="d-flex">
			<div class=" col-12 mx-2 text-center">
				<h3>Adresse</h3>
				<div id='map' style='width: 600px; height: 500px; margin: auto;'></div>
			</div>
		</div>
		<hr class="text-info">
		{{ form_start(form) }}
		<div class="row">
			<div class=" p-3 text-center">
				<h3>{{'chdate'|trans}}</h3>
				<div class="d-inline d-flex justify-content-center" id="dates"  >
					{# <input id="startdate" placeholder="Add dates"> #}
					{{ form_row(form.date) }}
				</div>
			</div>
		</div>
		<div class=" row d-flex">
			<h3>{{"travelernum"|trans }}</h3>
			<div class="d-flex">
				<div class="col-4">
					{# <input id ="NbAdultes" type="number" class="form-control"  value="0" min="0"> #}
					{{ form_row(form.adults) }}
				</div>
				<div class="col-4">
					{# <input id ="NbEnfants" type="number" class="form-control" value="0" min="0"> #}
					{{ form_row(form.kids) }}
				</div>
				<div class="col-4">
					{# <input id="NbBebes" type="number" class="form-control" value="0" min="0"> #}
					{{ form_row(form.babies) }}
				</div>
			</div>
			<div class="col-12 my-3">
				<button id="confirm" class="btn btn-primary">Réserver</button>
			</div>
		</div>
		{{ form_end(form) }}
		<hr class="text-info">
		<h3>Commentaires</h3>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Commentaire 1</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quae.</p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Commentaire 2</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quae.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'/>
	<style>
		.marker {
			background-image: url('{{ asset("marker.png") }}');
			background-size: 100%;
			width: 30px;
			height: 45px;
			cursor: pointer;
		}
		.mapboxgl-popup {
			max-width: 200px;
		}

		.mapboxgl-popup-content {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
		}
	</style>
{% endblock %}
	{% block javascripts %}
		<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiYnlxIiwiYSI6ImNsdjBza2E2ajFxcHkycW53bXBheGd4cGUifQ.THaHqpyg1zDpdAcCWTQsjQ';
var map = new mapboxgl.Map( {
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [
2.3856312, 48.8461429
],
zoom: 12,
  maxZoom: 20,
  minZoom: 10
} );
const geojson = {
type: 'FeatureCollection',
features: [
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [ 2.3856312, 48.8461429 ]
},
properties: {
title: 'Mapbox',
description: 'Washington, D.C.'
}
},
]
};
// add markers to map
for ( const feature of geojson.features ) { // create a HTML element for each feature
const el = document.createElement( 'div' );
el.className = 'marker';

// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
  .setLngLat(feature.geometry.coordinates)
  .setPopup(
    new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML(
        `<h5>${feature.properties.title}</h5><p>${feature.properties.description}</p>`
      )
  )
  .addTo(map);}
map.addControl( new mapboxgl.NavigationControl() );

			$( "#location_first_date" ).daterangepicker( {
				"locale": "fr",
				"minDate": new Date(),
				"disable": [],
				"autoApply": true,
				} );



		</script>
	{% endblock %}
