<!DOCTYPE html>
{% trans_default_domain 'base' %}
<html lang="{{ app.request.getLocale() }}" data-bs-theme="auto">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="icon" href="{{asset("brand/PCS_Logo/Black_Keys.svg") }}">
		<link rel="icon" href="{{asset("brand/PCS_Logo/White_Keys.svg") }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/offcanvas-navbar.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body class="bg-body-tertiary">
			<div aria-live="polite" aria-atomic="true">
				<div class="toast-container top-0 end-0 p-3">
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay='152' data-bs-animation="true">
								<div class="toast-header text-white bg-{{ label }}">
									<strong class="me-auto">{{'Notification' |trans }}</strong>
									<small>{{'Maintenant' |trans }}</small>
									<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
								</div>
								<div class="toast-body">
									{{ message |trans }}
								</div>
							</div>

						{% endfor %}
					{% endfor %}
				</div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
				<symbol id="check2" viewbox="0 0 16 16">
					<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
				</symbol>
				<symbol id="circle-half" viewbox="0 0 16 16">
					<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
				</symbol>
				<symbol id="moon-stars-fill" viewbox="0 0 16 16">
					<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
					<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
				</symbol>
				<symbol id="sun-fill" viewbox="0 0 16 16">
					<path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
				</symbol>
			</svg>
			<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
				<button
					class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
					{# <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
																															<use href="#circle-half"></use>
																														</svg> #}
					<i class="bi bi-chat-text"></i>
					<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
							<svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
								<use href="#sun-fill"></use>
							</svg>
							{{'Light' |trans }}
							<svg class="bi ms-auto d-none" width="1em" height="1em">
								<use href="#check2"></use>
							</svg>
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
							<svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
								<use href="#moon-stars-fill"></use>
							</svg>
							{{'Dark' |trans }}
							<svg class="bi ms-auto d-none" width="1em" height="1em">
								<use href="#check2"></use>
							</svg>
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
							<svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
								<use href="#circle-half"></use>
							</svg>
							{{'Auto' |trans }}
							<svg class="bi ms-auto d-none" width="1em" height="1em">
								<use href="#check2"></use>
							</svg>
						</button>
					</li>
					<li>
						<input type="range" class="form-range" id="bd-theme-range" min="0" max="100" step="1" value="50" aria-label="Theme opacity">
					</li>
					<li>
						<input type="text" class="form-control" id="bd-theme-color" value="#0d6efd" aria-label="Theme color">
					</li>
				</ul>
			</div>
			<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow" aria-label="Main navigation">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{path('index') }}">
						<img id="logo" alt="ici le logo" src="{{asset("brand/PCS_Logo/Black_Keys.svg")}}" width="65"/></a>
					<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse offcanvas-collapse justify-content-between" id="navbarsExampleDefault">
						<nav class="navbar-nav mb-2 mb-lg-0 nav-fill">
							<a class="nav-link fs-4 mx-3{% if app.request.get(" _route") == 'appartements' %} active {%endif%}" {% if app.request.get('_route') == 'appartements' %} aria-current="page" {% endif %} href="{{path('appartements') }}">{{'appartements' |trans }}</a>
							{# Je triche oui #}
							<div class="dropdown">
								<a class="nav-link fs-4 mx-3{% if app.request.get(" _route") == 'services' %} active {%endif%} dropdown-toogle" role="button" {% if app.request.get('_route') == 'services' %} aria-current="page" {% endif %} data-bs-toggle="sdropdown" aria-expanded="false" href="{{path('services') }}">{{'services' |trans }}</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href={{path("services")}}>Services</a>
									</li>
									<li>
										<a class="dropdown-item" href={{path("create_devis")}}>Demande de Devis</a>
									</li>
									<li>
										<a class="dropdown-item" href="">Abonnement</a>
									</li>
								</ul>
							</div>
							<a class="nav-link fs-4 mx-3{% if app.request.get(" _route") == 'prestataires' %} active {%endif%}" {% if app.request.get('_route') == 'prestataires' %} aria-current="page" {% endif %} href="{{path('prestataires') }}">{{'prestataires' |trans }}</a>
							<a class="nav-link fs-4 mx-3{% if app.request.get(" _route") == 'contact' %} active {%endif%}" {% if app.request.get('_route') == 'contact' %} aria-current="page" {% endif %} href="{{path('contact') }}">{{'contacter' |trans }}</a>
						</nav>
						<div class="d-flex flex-row">
							{% if app.user %}
								<div class="dropdown">
									<button class="btn bg-info dropdown-toggle link-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi-person-circle"></i>
										{{app.user.getInitials()}}
									</button>
									<ul class="dropdown-menu drop-center">
										<li>
											<a class="dropdown-item" href="{{ path("profile") }}">{{'Profile' |trans }}</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{ path("admin_dashboard") }}">{{'Admin' |trans }}</a>
											</li>
										{% endif %}
										<li>
											<a href="{{path('logout') }}" class="dropdown-item">{{'Logout' |trans }}</a>
										</li>
									</ul>
								{% else %}
									<a href="{{path('login') }}" class="btn btn-outline-success mx-2">{{'Login' |trans }}</a>
									<a href="{{path('app_register') }}" class="btn btn-outline-primary mx-2">{{'Register' |trans }}</a>
								{% endif %}
							</div>
							<div class="d-flex flex-row">
								<div class="mx-2">
									<a class="link-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({_locale: 'fr'})) }}"><img src="{{asset('brand/flag_fr.png') }}" width="40" alt="Français"/></a>
								</div>
								<div class="mx-2">
									<a class="link-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({_locale: 'en'})) }}"><img src="{{asset('brand/flag_en.png') }}" width="40" alt="English"/></a>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<main class="container-fluid mb-5 pb-5">
					{% block body %}
						&nbsp;
					{% endblock %}
				</main>
				<footer class="footer border-info bg-info py-3">
					<div class="d-flex justify-content-center align-items-center">
						Copyright © 2024 CaretakerServices &emsp;
						<a href="{{path('cookies') }}" class="link-light px-3">{{'cookies'|trans}}</a>
						<a href="{{path('privacy') }}" class="link-light px-3">{{'privacy'|trans}}</a>
						<a href="{{path('terms') }}" class="link-light px-3">{{'cgu'|trans}}</a>
						<a href="{{path('about') }}" class="link-light px-3">{{'about'|trans}}</a>
						<a href="#" class="link-light px-3" id="open_preferences_center">{{"modpref"|trans }}</a>
					</div>
				</footer>
				<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
				<script src="{{ asset('js/offcanvas-navbar.js') }}"></script>
				<script src="{{ asset('js/color-modes.js') }}"></script>
				<script src="{{ asset('js/jquery.js') }}"></script>
				<script>
					$( document ).ready( function () {
$( '.dropdown' ).hover( function () {
$( this ).find( '.dropdown-menu' ).stop( true, true ).delay( 100 ).fadeIn( 200 );
}, function () {
$( this ).find( '.dropdown-menu' ).stop( true, true ).delay( 100 ).fadeOut( 200 );
} );
} );
				</script>
				{# <!-- Cookie Consent by PrivacyPolicies.com https://www.PrivacyPolicies.com --> #}
				<script type="text/javascript" src="//www.privacypolicies.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
				<script type="text/javascript" charset="UTF-8">
					document.addEventListener( 'DOMContentLoaded', function () {
cookieconsent.run( {
"notice_banner_type": "simple",
"consent_type": "express",
"palette": "light",
"language": "fr",
"page_load_consent_levels": ["strictly-necessary"],
"notice_banner_reject_button_hide": false,
"preferences_center_close_button_hide": false,
"page_refresh_confirmation_buttons": false,
"website_name": "Paris Caretaker Services",
"website_privacy_policy_url": "https://pcs.freeboxos.fr/privacy"
} );
} );
				</script>

				<noscript>Cookie Consent by
					<a href="https://www.privacypolicies.com/">Privacy Policies website</a>
				</noscript>
				{# <!-- End Cookie Consent by PrivacyPolicies.com https://www.PrivacyPolicies.com --> #}

				{% block javascripts %}{% endblock %}
			</body>
		</body>
	</html>
