{% extends 'base.html.twig' %}

{% block body %}
    <h1>Example Page</h1>

    <p>Du coup des exemples, allez voir le fichier php ExampleController pour comprendre comment ça marche aussi derrière.</p>

    <p>Avec Twig, on peut créer des pages html, mais surtout elles peuvent être dynamiques. C'est à dire que l'on peut passer des variables à notre page html.</p>

    <p>Par exemple, ici on a une variable <code>name</code> qui est passée à notre page html. On peut l'utiliser comme ça : <code>{{ name }}</code></p>
    <p>On peut envoyer tous les types de variables : des tableaux, des objets, des booléens, etc.</p>
    <p>Exemple : <code>{{ name }} </code>qui est une string, {{bool }} un booléen, {{tab[0] }} une variable de tableau, {{obj.toto }} un objet...</p>

    <p> Je vous laisserai chercher pour les filtres, les fonctions, etc.</p>

    <p>On peut aussi faire des conditions, des boucles avec <code>{{"{% if (condition) %}"}}</code> et <code>{{"{% endif %}"}}</code>.</p>

    <p>On peut aussi inclure des fichiers html dans d'autres fichiers html. C'est ce qu'on appelle l'héritage. C'est ce qu'on fait avec <code>{{"{% extends 'base.html.twig' %}"}}</code> en haut de ce fichier.</p>

    <p>On peut aussi définir des blocs dans notre fichier html. C'est ce qu'on fait avec <code>{{"{% block body %}"}}</code> et <code>{{"{% endblock %}"}}</code> en haut et en bas de ce fichier.</p>

    <p>On peut aussi étendre des blocs. C'est ce qu'on fait avec <code>{{"{% block body %}"}}</code> et <code>{{"{% endblock %}"}}</code> dans le fichier <code>base.html.twig</code>.</p>
    <p> Ca, ça veut dire que dans le block body de base.html.twig, on va inclure le contenu de ce block body de example.html.twig.</p>

    <p>On peut aussi inclure des fichiers css, etc. C'est ce qu'on fait avec <code>{{"{% block stylesheets/javascripts %}"}}</code> et <code>{{"{% endblock %}"}}</code> dans le fichier <code>base.html.twig</code>.</p>
    

    <p> pour plus d'infos, voir la doc de twig : <a href="https://twig.symfony.com/doc/3.x/templates.html">https://twig.symfony.com/doc/3.x/templates.html</a> et celle de Symfony: <a href="https://symfony.com/doc/current/templates.html">https://symfony.com/doc/current/templates.html</a>
    </p>
{% endblock %}