{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
  <div class="row banner">
    <div class="col-4 " >
      <img src="{{ asset('brand/PCS_Logo/White_Full.png') }}" alt="logo" class="img-fluid">
    </div>
    <div class="col-8 d-flex align-items-center">
      <p class="text-white">Paris Caretaker Services (PCS) est une chaîne de conciergeries immobilières assurant une offre de
      gestion locative saisonnière, créée à Paris en 2018. La société a connu une croissance
      rapide depuis sa création, principalement en raison de la qualité de son accueil et de la richesse de ses
      prestations.
      Elle offre des services allant de la gestion des réservations jusqu'à l’entretien du bien immobilier pour
      le compte du propriétaire, en passant par l’accueil des clients. Ainsi, de nombreux bailleurs peuvent louer 
      leurs logements sans avoir à gérer les différentes charges inhérentes à la location.
      </p>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-around">
    {% for appart in apparts %}
				<div class="card col-md-3 my-3 mx-1 py-1">
					<div class="card-header">
						<div class="splide" role="group" aria-label="Splide Basic HTML Example">
							<div class="splide__track">
								<ul class="splide__list">
								{% for img in appart.images %}
									<li class="splide__slide"><img src="{{asset("uploads/"~img.path)}}" class="card-img-top" alt="..."></li>
								{% else %}
									<li class="splide__slide"><img src="https://reviveyouthandfamily.org/wp-content/uploads/2016/11/house-placeholder.jpg" class="card-img-top" alt="..."></li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<a href="{{ path('appart_detail', {'id': appart.id}) }}" class="text-decoration-none text-black">
						<div class="card-body">
							<h5>{{appart.city}}
								-
								{{appart.country}}</h5>
							<small>{{appart.description|slice(0,50)~"..."}}</small>
							<div style="display: flex; justify-content: space-between; width: 100%;">
								<p>{{appart.price}}
									€ / Nuit</p>
								<p>{{appart.note}}
									/ 5</p>
							</div>
						</div>
					</a>
				</div>
		{% endfor %}
  </div>  
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
<script>
monune();

function monune() {
	var elms = document.getElementsByClassName( 'splide' );

	for ( var i = 0; i < elms.length; i++ ) {
		new Splide( elms[ i ], {
			type       : 'loop',
			perPage    : 1,
			perMove    : 1,
			pagination : false,
			autoplay   : false,
			breakpoints: {
				600: {
					perPage: 1,
				}
			}
		
		}).mount();
	}
}
</script>
{% endblock %}