<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Monthly Invoice</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .invoice-box { width: 100%; border-collapse: collapse; }
        .invoice-box td, .invoice-box th { border: 1px solid #ddd; padding: 8px; }
        .invoice-box tr:nth-child(even){ background-color: #f2f2f2; }
        .invoice-box tr:hover { background-color: #ddd; }
        .invoice-box th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #031926; color: white; }
    </style>
</head>
<body>
    <h1>Facture du mois pour {{ user.prenom }} {{user.nom}}- {{ month|date('F Y') }}</h1>
    <table class="invoice-box">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Taille</th>
            <th>Prix</th>
        </tr>
        {% for invoice in invoices %}
            <tr>
                <td>{{ "now"|date('d/m/Y') }}</td>
                <td>{{ invoice.nom }}</td>
                <td>{{ invoice.size }}</td>
               {# <td>{{ 'Total'|trans }}: {{ invoice.location.price}} €</td> #}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
